@media screen and (max-width: 1000px) {
    .menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
    }

}

@media screen and (max-width: 1250px) {
    .card {
        width: 100%;
    }

    section h2 {
        font-size: 35px;
    }
}

@media screen and (max-width: 800px) {

    .cont-mpas {
        display: inline-block;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 50px;

    }

    .cont-mpas h2 {
        margin-top: 50px;
    }
}

@media screen and (max-width: 605px) {

    .contatos h2 {
        font-size: 23px;
        letter-spacing: 0;
    }

}

@media screen and (max-width: 3000px) {

    .menu-burguer {
        display: none;
    }

}

@media screen and (max-width: 800px) {

    .menu-burguer {
        display: block;
    }

    .menu {
        display: none;
    }

}

@media screen and (max-width: 550px) {

    .logo img {
        width: 400px;
    }
}


@media screen and (max-width: 900px) {

    .logo-serve img {
        width: 300px;
    }
}

@media screen and (max-width: 500px) {

    .menu-burguer {
        margin-left: 10px;
    }

    #whats {
        display: none;
    }

    #fone {
        display: none;
    }


}

@media screen and (max-width: 1200px) {

    .container .search {
        display: grid;
        margin-left: 300px;
        font-size: 1.5em;
    }

}

@media screen and (max-width: 1200px) {

    .search imput {
        display: none;
    }

}

@media screen and (max-width: 1200px) {

    .product-list .product {
        display: inline-flex;
        flex-flow: nowrap;
        justify-content: space-between;
        align-items: center;


    }

}