/*MENU HAMBURGUE*/
@media screen and (max-width: 765px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }

    .menu li {
        margin-top: 40px;
    }

    .menu li {
        padding: 40px;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }
}

@media screen and (max-width: 1086px) {
    .menu li {
        font-size: 10px;
    }

}

@media screen and (max-width: 800px) {

    section .card {
        width: 100%;
    }

    section h2 {
        font-size: 25px;
    }

    .contato h1 {
        margin-bottom: 10px;
        font-size: 25px;
        letter-spacing: 5px;
    }

    .contato p {
        font-size: 15px;
        letter-spacing: 2px;
        margin-top: 8px;
        margin-bottom: 8px;
        line-height: 50px;
    }

}

@media screen and (max-width: 1027px) {

    section .contato .cont-mpas .mapas {

        display: inline-block;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 80px;

    }

    .cont-mpas h2 {
        margin-top: 25px;
    }

    .slide img {
        width: 500px;
    }

    section .mapas img {
        display: block;
        width: 2000px;

    }

    section .contato h2 {
        margin-top: 50px;
    }
}

@media screen and (max-width: 700px) {

    section .contatos h2 {
        margin-top: 10px;
        font-size: 15px;
    }

    section .contatos h3 {
        font-size: 15px;
    }

    section .contatos p {
        font-family: 10px;
    }

    .text {
        font-size: 5px;
    }

    section .contatos {
        line-height: 35px;
    }

}

@media screen and (max-width: 915px) {

    nav .logo img {
        width: 300px;
    }

}


/* @media screen and (max-width: 550px) {

    .logo img {
        width: 350px;
    }

} */



@media screen and (max-width: 900px) {

    .logo-serve img {
        width: 300px;
    }
}

@media screen and (max-width: 500px) {

    #whats {
        display: none;
    }

    #fone {
        display: none;
    }


}

@media screen and (max-width: 1200px) {

    .container .search {
        display: grid;
        margin-left: 300px;
        font-size: 1.5em;
    }

}

@media screen and (max-width: 1200px) {

    .search imput {
        display: none;
    }

}

@media screen and (max-width: 1200px) {

    .product-list .product {
        display: inline-flex;
        flex-flow: nowrap;
        justify-content: space-between;
        align-items: center;


    }

}

@media screen and (max-width: 1110px) {

    .text-box a {

        font-size: 10px;

    }

}


@media screen and (max-width: 1110px) {
    .logo a img {
        width: 200px;
    }
}

@media screen and (max-width: 1280px) {

    .product {
        width: 100%;

    }

    section h1 {
        font-size: 35px;
    }

    .container .search input {
        padding: 10px 15px;
    }


}

@media screen and (max-width: 800px) {
    .logo img {
        width: 350px;
    }

    section .titulo {
        font-size: 16px;
    }

}

/*Responsivo FOOTER*/
/*768PX BREAKPOINT*/
@media (min-width:48em) {
    .colfooter {
        width: 30%;
        margin-right: 5%;
        margin-bottom: 0;
    }

    .colfooter:nth-of-type(3n+0) {
        margin-right: 0;
        border-right: 0;
    }
}

@media screen and (max-width: 750px) {
    .slides-list img {
        width: 80%;
    }

    .slides-list p {
        margin-top: 50px;
    }

    .content {
        margin-top: 50px;
    }

}

@media screen and (max-width: 600px) {
    .container-servico {
        margin-top: 100px;
        height: 10%;
        display: flex;
        width: 100%;
        flex-direction: column;
    }
}

@media screen and (max-width: 670px) {
    span .titulo {
        font-size: 20px;
    }
}