* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Helvetica;
}

.navbar img {
    width: 500px;
    /* align-items: left; */
}

.navbar a {
    text-decoration: none;
}

.titulo-serve {
    text-align: center;
    padding: 150px;
}

.navbar .logo-server {
    
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



section h2{
        width: 100%;
        font-size: 50px;
        margin: 0;
        font-weight: bold;
        color: #2d18a5;

}

#container-services {
    background: #1d1d1d79;
    flex-wrap: wrap;
    line-height: 30px;
    margin: 10px;
    padding: 30px 50px 550px 30px;
    width: 247px;
    height: 350px;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 30%);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    justify-items: center;
    text-align: center;
    
}

#container-services h1 {
    margin-top: 10px;
}

.texto-esp {
    margin-top: 25px;
    line-height: 2;
}

.serviços{
        display: inline-block;
        margin-top: 5%;


}

.card-servece {
    background: #4141416b;
    display: inline-block;
    width: 30%;
    padding: 80px;
    margin: 2%;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-servece h1 {
    font-size: 20px;

}

footer {
    margin-top: 100px;
    height: 450px;
    background-image: linear-gradient(180deg, black, blue, black);
    text-align: center;
    color: white;
    border-top: 5px solid blue;
    
}

.logo-rodape {
    padding: 100px;
    line-height: 2;
}





